# Published Google Sheets CSV URL
VITE_DATABASE_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vTcS0mSoo1HwqTihRlqwwhyxJSpVMW4WH15XM_rx2yLGfXCjbOn-SbEetgs5vRn8OWEFqO_ov-BgMwP/pub?output=csv

# Google Apps Script Web App Deployment URL
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxCEJ02WRuoQ3Ja-IMlc28DzUx6DoNLHTnTWty1SSVQyTkCvgZoUksylTPbTd-sOeHl/exec

# Optional API Security Token
VITE_API_KEY=
